<div class="userdata_container">
    {{#if username}}
    <p><b>Felhasználó: {{username}}</b></p>
    <form action="/api/users/logout" method="POST" enctype="multipart/form-data"> 
    <input type="submit" value="Logout"> 
    </form>
    {{else}}
    <form action="/api/users/login"> 
    <input type="submit" value="Login"> 
    </form>
    {{/if}}
</div>