<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="utf-8"/>
    <title>{{subjectCode}} Feladatok</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

{{> loggeduser }}

<div class="container">
    <h1>Feladatok</h1>
    {{#if assignments}}
    <table id="myTable" border="1" width="100%">
        <tr>
        <th>Leírás</th> <th>Határidő</th> <th>File</th>
        </tr>
        {{#each assignments}}
        <tr> 
            <td>{{aDescription}}</td> <td>{{deadline}}</td> <td>{{fileName}}</td>
             {{#ifEquals ../this.username owner}}
            <td style="width:15%; text-align:center"> 
                <form onsubmit="deleteAssignment(event, {{assignmentCode}}, this)" enctype="multipart/form-data"> 
                <input type="hidden" id="assignmentcode" name="assignmentcode" value="{{assignmentCode}}">
                <input type="submit" value="Törlés">
                </form> 
            </td> 
            {{/ifEquals}}
        </tr> 
        {{/each}}
    </table>
    {{else}}
      <p class="message">Nincs megjelenítendő feladat</p>
    {{/if}}
</div>

<div class="container">
<form action="/api/assignments/submit_assignment" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="subjectcode" id="subjectcode" value="{{subjectCode}}"><br/><br/>
    <label for="assignmentdescription">Leírás:</label>
    <textarea name="assignmentdescription" id="assignmentdescription" rows="3" cols="50" required></textarea><br/><br/>
    <label for="deadline">Határidő:</label>
    <input type="date" id="deadline" name="deadline" required><br/><br/>
    <label for="myfile">Leírást tartalmazó file:
    <input type="file" id="myfile" name="myfile" accept="application/pdf" required><br/><br/></label>
    <input type="submit">
</form>
</div>

<script src="/script.js"></script>
</body>

</html>