<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="utf-8"/>
    <title>Hiba</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

{{> loggeduser }}

<div class="container">
    <h1>Hiba történt</h1>
    <hr>
    <h5>Üzenet:</h5> 
    <b><p>{{message}}</p></b>
    <p> <a href={{link}}>Ide</a> {{clickmessage}}
    </p>
</div>

</body>

</html>