<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="utf-8"/>
    <title>Tantárgyak</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

{{> loggeduser }}

<div class="container">
    <h1>Tantárgyak</h1>
    {{#if subjects}}
    <table border="1" width="100%" id="myTable">
        {{#each subjects}}
        <tr id="row{{subjectCode}}"> 
            <th style="width:15%" onclick="showDescription({{subjectCode}}, this)">Tantárgykód</th> 
            <td onclick="showDescription({{subjectCode}}, this)">{{subjectCode}}</td> 
            <td style="width:15%; text-align:center"> 
                 {{#ifEquals ../this.username owner}}
                <form action="/api/subjects/{{subjectCode}}" method="POST" enctype="multipart/form-data"> 
                <input type="hidden" id="subjectCode" name="subjetCode" value="{{subjectCode}}">
                <input type="submit" value="Törlés">
                </form> 
                {{/ifEquals}}
            </td> 
            <td style="width:15%; text-align:center" ><a href="/api/assignments/{{subjectCode}}"> <button>Feladatok</button></a></td>
        </tr> 
       
        {{/each}}
    </table>
    {{else}}
      <p class="message">Nincs megjelenítendő tantárgy</p>
    {{/if}}
</div>

<script src="/script.js"></script>

</body>

</html>